---
const { title, subtitle, imageUrl, imageAlt, slug } = Astro.props;
---

<article class="recipe-card">
    <div class="recipe-card-outer">
        <img src={imageUrl} class="recipe" alt={`${imageAlt}`} />
        <div class="recipe-card-inner">
            <h1>{title}</h1>
            <hr class="line" />
            <h2>{subtitle}</h2>
            <a href={slug} class="btn full">Let’s Make it</a>
        </div>
    </div>
</article>