---
import Navigation from '../components/Navigation.astro';  
import Footer from '../components/Footer.astro';
import Meta from '../components/Meta.astro';
import RecipeJSONLD from '../components/RecipeJSONLD.astro';

// USE ONLY FOR MD LAYOUTS
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Meta title={frontmatter.title} description={frontmatter.description} ogType='article' />
    <RecipeJSONLD
      name={frontmatter.title}
      description={frontmatter.description}
      image={frontmatter.image}
      author={frontmatter.author}
      datePublished={frontmatter.datePublished}
      prepTime={frontmatter.prepTime}
      cookTime={frontmatter.cookTime}
      totalTime={frontmatter.totalTime}
      keywords={frontmatter.keywords}
      recipeYield={frontmatter.servings}
      recipeCategory={frontmatter.category}
      recipeCuisine={frontmatter.cuisine}
      recipeIngredient={frontmatter.ingredients}
      recipeInstructions={frontmatter.instructions}
    />
  </head>
  <body>
    <header>
        <Navigation />
    </header>
    <main>
      <section id="recipe-introduction">
        <div class="wrapper">
          <div>
            <img
              class="recipe-image"
              src={frontmatter.image.url}
              alt={frontmatter.image.alt}
            />
          </div>
          <div>
            <h1>
              {frontmatter.title}
            </h1>
            <p>
              {frontmatter.description}
            </p>
            <div class="tabs grid col one-one">
              
              <div>
                <span class="prep-time"
                  ><img src="/assets/images/icons/whisk.svg" alt="Prep Time" />Prep Time:</span
                >
                <span class="var">{frontmatter.prepTime}&nbsp;<span class="unit">min.</span></span>
              </div>
              <div>
                <span class="cook-time"
                  ><img src="/assets/images/icons/flame.svg" alt="Cook Time" />Cook/Bake
                  Time:</span
                >
                <span class="var">{frontmatter.cookTime}&nbsp;<span class="unit">min.</span></span>
              </div>
              <div>
                <span class="total-time"
                  ><img src="/assets/images/icons/clock.svg" alt="Total Time" />Total
                  Time:</span
                >
                <span class="var">{frontmatter.totalTime}&nbsp;<span class="unit">min.</span></span>
              </div>
              <div>
                <span class="servings"
                  ><img src="/assets/images/icons/chef-hat.svg" alt="Servings" />Servings:</span
                >
                <span class="var">{frontmatter.recipeYield}</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="recipe-details">
        <div class="wrapper">
          <div>
            <h2>Ingredients</h2>
            <ul class="ingredients-list">
              {frontmatter.ingredients.map((ingredient: string) => (
                <li><label><input type="checkbox" />{ingredient}</label></li>
              ))}
            </ul>
          </div>
          <div>
            <h2>Instructions</h2>
            <ol class="recipe-instructions">
                {frontmatter.instructions.map((instruction: string, index: number) => (
                  <li id={`step-${index + 1}`}>{instruction}</li>
                ))  }
            </ol>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>