---
import Navigation from '../components/Navigation.astro';  
import Footer from '../components/Footer.astro';
import Meta from '../components/Meta.astro';
import RecipeJSONLD from '../components/RecipeJSONLD.astro';


// USE ONLY FOR MD LAYOUTS
const { frontmatter } = Astro.props;

const formattedPublishedDate = new Date(frontmatter.datePublished)
const formattedUpdatedDate = new Date(frontmatter.dateUpdated);

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Meta title={frontmatter.title} description={frontmatter.description} ogType='article' />
    <RecipeJSONLD
      name={frontmatter.title}
      description={frontmatter.description}
      image={frontmatter.image}
      author={frontmatter.author}
      datePublished={frontmatter.datePublished}
      prepTime={frontmatter.prepTime}
      cookTime={frontmatter.cookTime}
      totalTime={frontmatter.totalTime}
      keywords={frontmatter.keywords}
      recipeYield={frontmatter.servings}
      recipeCategory={frontmatter.category}
      recipeCuisine={frontmatter.cuisine}
      recipeIngredient={frontmatter.ingredients}
      recipeInstructions={frontmatter.instructions}
    />
  </head>
  <body>
    <header>
        <Navigation />
    </header>
    <main>
      <section id="recipe-introduction">
        <div class="wrapper">
          
            <!-- <img
              class="recipe-image"
              src={frontmatter.image.url}
              alt={frontmatter.image.alt}
            /> -->
          <div id="trust">
            <figure class="recipe-image-figure">
              <img
                class="recipe-image"
                src={frontmatter.image.url}
                alt={frontmatter.image.alt}
              />
              <figcaption class="recipe-figure">Photo by <span class="recipe-figure-author">{frontmatter.image.author}</span> | <i>{frontmatter.image.source}</i></figcaption>
            </figure>
            <div id="save-share-buttons">
              <div id="save-button"><img src="/assets/images/icons/heart-foot.svg" alt="Save"/> <span>Save</span></div>
              <div id="share-button"><img src="/assets/images/icons/share.svg" alt="Share"/> <span>Share</span></div>
            </div>
          </div>

          <div>
            <!-- use this on the recipe cardss -->
            {frontmatter.flavorProfiles.length > 0 && (
              <span class="subtitle">
                {frontmatter.flavorProfiles.length > 2 
                  ? frontmatter.flavorProfiles.slice(0, -2).join(', ') + ', ' + frontmatter.flavorProfiles.slice(-2).join(' & ') 
                  : frontmatter.flavorProfiles.join(' & ')}
              </span>)
            }
             
            <h1>
              {frontmatter.title}
            </h1>
            
            <!-- do this later - Recipe by <a href={frontmatter.author.url}>{frontmatter.author.name}</a>
             Need to add the text "Updated on "-->
            <p class="recipe-credentials">Recipe by <span class="recipe-author">{frontmatter.author}</span> | <i> Published on {frontmatter.dateUpdated  ? formattedUpdatedDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) : formattedPublishedDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</i></p> 
            <div class="categories">
               {frontmatter.categories.map((category: string) => (
                <a href={`/recipes/${category}`} class="category pink">{category}</a>
              ))}
            </div>
            <hr class="accent"/>
            <div class="description">
              <!-- {frontmatter.description} -->
              <!-- unnamed slot for additional content -->
            <slot />
            <!-- end unnamed slot for additional content -->
            </div>
             <a href="#recipe-details" class="btn white">Jump to Recipe</a>
          </div>
        </div>
      </section>
      <section id="recipe-details">
        <div class="wrapper">
          <div id="recipe-stats">
            <div>
              <span class="prep-time"
                ><img src="/assets/images/icons/whisk.svg" alt="Prep Time" />Prep Time:</span
              >
              <span class="var">{frontmatter.prepTime}&nbsp;<span class="unit">min.</span></span>
            </div>
            <div>
              <span class="cook-time"
                ><img src="/assets/images/icons/flame.svg" alt="Cook Time" />Cook
                Time:</span
              >
              <span class="var">{frontmatter.cookTime}&nbsp;<span class="unit">min.</span></span>
            </div>
            <div>
              <span class="total-time"
                ><img src="/assets/images/icons/clock.svg" alt="Total Time" />Total
                Time:</span
              >
              <span class="var">{frontmatter.totalTime}&nbsp;<span class="unit">min.</span></span>
            </div>
            <div>
              <span class="servings"
                ><img src="/assets/images/icons/chef-hat.svg" alt="Servings" />Servings:</span
              >
              <span class="var">{frontmatter.recipeYield}</span>
            </div>
          </div>
          
          <div>
            <h2>Ingredients:</h2>
            <ul class="ingredients-list">
              {frontmatter.ingredients.map((ingredient: string) => (
                <li><label><input type="checkbox" class="ingredient-checkbox" />{ingredient}</label></li>
              ))}
            </ul>
            <h2>Instructions:</h2>
            <ol class="recipe-instructions">
                {frontmatter.instructions.map((instruction: string, index: number) => (
                  <li id={`step-${index + 1}`}>{instruction}</li>
                ))  }
            </ol>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
 
/* not working */
  .description p {
    margin-top: 16px;
    line-height: 1.75;
  }
</style>

<!-- ... checkout console to break this up. I only want the loadSavedRecipes function on the saved recipes page -->
<script src="/store.js" is:inline></script>
